alias projects="cd ~/Documents/Projects"

# Docker Stuffs
alias docker-start="docker-compose build && docker-stop && docker-compose up -d"
alias docker-stop="docker-compose stop && dockerPsClean && docker-compose ps"
alias docker-logs="docker-compose logs -f"
alias docker-restart="docker-stop && docker-start"
