[user]
    name = Keloran
    email = keloran@tracklin.es
    image = "https://avatars1.githubusercontent.com/u/200350?v=3&s=460"
[push]
    default = simple
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
[github]
    user = keloran
[alias]
    a = add --all
    b = branch
    c = commit
    co = checkout
    rh = reset --hard
    s = status -sb
    am = add --all -m
    standup = !"git log --reverse --branches --since=$(if [[ "Mon" == "$(date +%a)" ]]; then echo "last friday"; else echo "yesterday"; fi) --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"
    pushit = !"git push -u origin $(git rev-parse --abbrev-ref HEAD)"
    ticket = !"git checkout -b $2"
    master = !"git checkout master && git pull"
[credential]
    helper = osxkeychain
[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[push]
    default = upstream
[commit]
    gpgSign = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[gpg]
    program = /usr/local/bin/krgpg
[tag]
    forceSignAnnotated = true
